<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title> {% block title %}{% endblock title %} | Covid-19 Tracker</title>
  <link rel="icon" href="{% static '/covid_app/images/images1.png/' %}" type= "image/x-icon">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{% static 'covid_app/js/disable_right_click.js' %}"></script>

  </head>

    <body class="bg-body-tertiary d-flex flex-column min-vh-100" style="user-select: none;">

<nav class="navbar navbar-expand-lg shadow p-2 mb-3 bg-white rounded sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand " href="/"><h1><strong>Covid-19 </strong></h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline  me-auto mb-2 mb-lg-0">








                <li class="nav-item">
                    <a class="nav-link {% block acontact %} {% endblock acontact %} " aria-current="page"
                       href="/contactdet"><h5 class="text-warning">contact</h5></a>
                </li>

            </ul>



              <h3><strong>Hello &nbsp; </strong></h3>

              <div class="dropdown">
  <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
    </svg>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" style="left: -40px;"> <!-- Add left property here -->
    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
  </ul>
</div>







        </div>
    </div>
</nav>
{% block body1 %}

{% endblock body1 %}

<div class="container p-2"></div>

<footer class="footer mt-auto bg-dark text-muted" style="--bs-bg-opacity: .7;">

    <!-- Copyright -->
    <div class="container text-center text-white text-lg p-4">
        © 2023 Copyright:
        <a class="text-reset fw-bold text-white" href="/">Covid-19.com</a> |
        <a class="text-reset text-white" href="/privacy">Privacy Policy</a> <!-- Add the Privacy Policy link here -->
    </div>
    <!-- Copyright -->

</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>