{% extends 'base1.html' %}
{% block title %}check Contact Data{% endblock title %}
{% block acontact %} active{% endblock acontact %}
{% block body1 %}

<div class="container shadow bg-white rounded-5" style="min-height: 80vh;">
    <div class="container mt-5">
        <h2>Contact Data</h2>
        <div class="table-responsive">
            <div style="overflow-x: auto; overflow-y: auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Feedback</th>
                            <th>Copy</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phnum }}</td>
                            <td>{{ contact.feedback }}</td>
                            <td>
                                <button class="btn btn-warning copy-button" data-clipboard-text="{{ contact.name }} | {{ contact.email }} | {{ contact.phnum }} | {{ contact.feedback }} ">
                                    Copy
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
    var clipboard = new ClipboardJS('.copy-button');

    clipboard.on('success', function(e) {
        e.clearSelection();
        alert('Copied to clipboard: ' + e.text);
    });
</script>

{% endblock body1 %}
