{% extends  'base.html' %}

{% block navbar %} shadow p-2 mb-3 bg-white rounded{% endblock navbar %}


{% block title %}About Us {% endblock title %}


{% block body %}

<div class="container shadow mb-4 bg-white min-vh-100 rounded-4">
    <div class=" mb-5 py-3 widthsmallsc">

        <header>
            <h1 class="text-center display-1"><strong><strong>Privacy Policy</strong></strong></h1>

        </header>

        <hr class="py-3">

        <p>
            At Covid-19 Tracker, we take your privacy seriously. This Privacy Policy is designed to help you understand
            how we collect, use, disclose, and safeguard your personal information when you visit our website and use
            our services. By using our website, you consent to the practices described in this Privacy Policy.
        </p>

        <h3><br>Information We Collect:</h3>

        <ol>
            <li>
                <strong>Personal Information:</strong> We may collect personal information, such as your name, email
                address, and contact details, when you voluntarily provide it to us through our Contact Us form or other
                communication methods.
            </li>
            <li>
                <strong>Usage Data:</strong> We automatically collect certain information about your visit to our
                website, including your IP address, browser type, and operating system. This information is used for
                analytical purposes to improve the user experience.
            </li>
        </ol>

        <h3><br>Cookies and Tracking:</h3>

        <p>
            We use cookies and similar tracking technologies to enhance your experience on our website. Cookies are
            small text files that are stored on your device when you visit a website. They help us analyze website
            traffic and usage patterns, customize content, and provide you with a better browsing experience.
        </p>

        <h4><br>Types of Cookies:</h4>

        <ol>
            <li>
                <strong>Essential Cookies:</strong> These cookies are necessary for the functioning of our website and
                provide you with basic features, such as page navigation and access to secure areas. They do not collect
                personal information.
            </li>
            <li>
                <strong>Analytical Cookies:</strong> These cookies help us understand how you interact with our website
                by collecting information about your visit, including pages viewed and links clicked. We use this
                information to improve our website's performance and content.
            </li>
            <li>
                <strong>Marketing Cookies:</strong> These cookies are used to deliver personalized advertisements and
                content based on your interests and online behavior. We may use third-party advertising partners for
                this purpose.
            </li>
        </ol>

        <h3><br>Managing Cookies:</h3>

        <p>
            You can manage or disable cookies through your browser settings. Please note that disabling certain cookies
            may affect the functionality of our website. For more information on how to manage cookies, refer to your
            browser's help section.
        </p>

        <h3><br>Your Rights:</h3>

        <p>
            You have the right to access, correct, update, or delete your personal information that we hold. To exercise
            these rights or if you have any privacy-related questions or concerns, please contact us through our Contact
            Us page.
        </p>

        <h3><br>Changes to this Privacy Policy:</h3>

        <p>
            We may update this Privacy Policy to reflect changes in our practices or for legal and regulatory reasons.
            We encourage you to review this page periodically for any updates.
        </p>

        <p>
            By using our website, you agree to the terms and conditions of this Privacy Policy.
        </p>

        <p>
            Text selection on our website is disabled for security reasons.
        </p>

        <p>
            Thank you for trusting Covid-19 Tracker. We are committed to protecting your privacy and providing a secure
            online experience.
        </p>

    </div>
</div>

<style>
    @media (min-width: 768px) {
    .widthsmallsc {
        padding: 8rem ;/* Adjust the padding for bigger screens */
    }
}

@media (max-width: 768px) {
    .widthsmallsc {
        padding: 1rem ; /* Adjust the padding for smaller screens */
    }
}
</style>


{% endblock body %}