{% extends 'base1.html' %}


{% block title %}welcome{% endblock title %}



{% block body1 %}




<div class="container shadow bg-white rounded-5 d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="text-center">
        <h1 class="my-5 display-1 fw-bold ls-tight">
            <strong>Welcome To  <br />
            <span class="text-warning display-1"><strong><strong>Covid-19 Tracker</strong></strong></span></strong>
        </h1>
    </div>
</div>




{% endblock body1 %}
